include README.md
include LICENSE
include pyproject.toml
include .python-version
include uv.lock

recursive-include fuse *
recursive-exclude fuse/__pycache__ *

recursive-include docs *.md
recursive-include scripts *.sh
recursive-include node_packages *
recursive-include plugin_packages *

global-exclude __pycache__
global-exclude *.py[co]
global-exclude .DS_Store
global-exclude dist/*
global-exclude build/*
global-exclude *.egg-info
global-exclude fuse.db
global-exclude .env
global-exclude credentials_storage.json
